.group-content
  %ul.group-content__detail{data:{group_id: @group.id}}
    %li.group-content__detail__name
      = @group.name
    %li.group-content__detail__member
      %p.group-content__detail__member__label Member :
      %p.group-content__detail__member__user
        - @users.each do |user|
          = user.name + ", "

  .group-content__button
    =link_to "Edit", edit_group_path(@group), data:{turbolinks: "false"},id:'prepare-member'

