
.main__content
  %ul.main__content___box
    %li.main__content__box__user test-user
    %li.main__content__box__dates 2019/04/04 12:34:48
    %li.main__content__box__text Hello World!
  %ul.main__content___box
    %li.main__content__box__user some-user
    %li.main__content__box__dates 2019/04/04 12:34:55
    %li.main__content__box__text Good Bye!
