%ul{class:'main__content__box',data:{message_id: message.id}}
  %li.main__content__box__user
    = message.user.name
  %li.main__content__box__dates
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  %li.main__content__box__text
    -if message.text.present?
      %p.main__content__box__text__text
        = message.text
