%nav
  .nav__container
    %ul.my-content
      %li.my-content__name test-user
      %li.my-content__icon
        %a.my-content__icon__left{href: "#"}
          =fa_icon("edit")
        %a.my-content__icon__right{href: "#"}
          =fa_icon("cog")
    .group-content
      %ul.group-content__detail
        %li.group-content__detail__name test-group
        %li.group-content__detail__member Member
      .group-content__button
        %a{href: "#"} Edit
