%nav
  .nav__container
    =render partial:"my-content"
    =render partial:"group-content"
%section
  .section__container
    .sidebar
      =render partial:"sidebar"
    %main
      =render partial:"main-content"
      =render partial:"input-box"
