= render partial: "info"
%nav
  .nav__container
    %ul.my-content
      %li.my-content__name test-user
      %li.my-content__icon
        %a.my-content__icon__left{href: "#"}
          =fa_icon("edit")
        %a.my-content__icon__right{href: "#"}
          =fa_icon("cog")
    .group-content
      %ul.group-content__detail
        %li.group-content__detail__name test-group
        %li.group-content__detail__member Member
      .group-content__button
        %a{href: "#"} Edit
%section
  .section__container
    .sidebar
      %ul.sidebar__headline
        %li.sidebar__headline__group test-group
        %li.sidebar__headline__message さようなら
      %ul.sidebar__headline
        %li.sidebar__headline__group sample-group
        %li.sidebar__headline__message hello!
      %ul.sidebar__headline
        %li.sidebar__headline__group example
        %li.sidebar__headline__message まだメッセージがありません。
    %main
      .main__content
        %ul.main__content___box
          %li.main__content__box__user test-user
          %li.main__content__box__dates 2019/04/04 12:34:48
          %li.main__content__box__text Hello World!
        %ul.main__content___box
          %li.main__content__box__user some-user
          %li.main__content__box__dates 2019/04/04 12:34:55
          %li.main__content__box__text Good Bye!
      .input-box
        %form.chat-box{action: "#", method: "post"}
          %input.chat-box__text{type:"text", name:"text", placeholder: "type a message"}
          .input.chat-box__image
            %label.chat-box__image__icon{for:"image_upload"}
              =fa_icon("image lg")
              %input{type:"file", id:"image_upload"}
          %input.chat-box__send{type:"submit", name:"submit", value: "Send"}
