%nav
  .nav__container
    =render partial:"my-content"
    =render partial:"group-content"
%section
  .section__container
    .sidebar
      =render partial:"sidebar"
    %main
      .main__content
        =render @messages
      =render partial:"input-box"
