.chat-group-form__field--left
    %label{class:"chat-group-form__label" ,for:"user-search-field"} チャットメンバーを追加
.chat-group-form__field--right
    .chat-group-form__search.clearfix
        %input.chat-group-form__input#user-search-field{name:"name", placeholder:'追加したいユーザー名を入力してください', type:'text'}
        #add-user
    #user-search-result
