

.my-content{
  background-color: #253141;
  flex-basis: 300px;
  height: 99px;
  @include space-between;
  &__name{
      color: $color-white;
      font-size: 16px;
      font-weight: bold;
      padding:39px 0 0 20px;
  }
  &__icon{
      color: $color-white;
      @include flex-row;
      padding:39px 20px 0 0;
      &__left, &__right{
          color: $color-white;
          display: block;
    }
      &__left{
          margin-right:5px;
    }
  }
}



.group-content{
  background-color: $color-white;
  border-bottom: solid 1px #eeeeee;
  @include space-between;
  flex-basis: calc(100vw - 300px);
  &__detail{
  padding-left: 40px;
    &__name{
      @include char-group(#333333, 20px, 35px)
    }
    &__member{
      @include char-group(#999999, 12px, 15px);
    }
  }
  &__button{
    padding:28px 40px 0 0;
    & a{
  border:solid 1px $color-accent;
  color: $color-accent;
  display: block;
  height:40px;
  padding: 0 20px;
  line-height:40px;
  text-decoration: none;
    }
  }
}
