.sider{
  text-decoration: none;
}
.sidebar{
  flex-basis: 300px;
  background-color: #2f3e51;
  height: calc(100vh - 98px);
  &__headline{
  padding:20px 20px 40px 20px;
    &__group{
      @include char-headline($color-white, 15px);
      padding-bottom: 5px;
    }
    &__message{
      @include char-headline($color-white, 11px);
    }
  }
}
